@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  width: 100%;
  height: 100vh;
}

.container{
  width: 100%;
  padding: 40px 100px;
}

.container h1{
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
}

.container form{
  width: 500px;
  margin: 0px auto;
}

.container form label{
  font-size: 14px;
  font-weight: 600;
}

.container form input{
  width: 100%;
  padding: 5px 10px;
  outline: 0;
  border: 1px solid #b6b6b6;
  margin-bottom: 10px;
  font-size: 14px;
}

.container form button{
  width: 100%;
  padding: 10px;
  border: 0;
  outline: 0;
  background: #000;
  color: #fff;
}

.movie-row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 60px;
}

.movie-box{
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.07);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
}

.movie-box img{
  width: 150px;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.movie-info{
  margin-left: 20px;
}

.movie-info h2{
  font-size: 18px;
  font-weight: 600;
}

.movie-info span{
  font-size: 12px;
  color: #999;
}

.movie-info p{
  font-size: 14px;
  color: #777;
}

.movie-info p b{
  font-weight: 500;
}

.movie-info i{
  font-size: 12px;
  color: #999;
  line-height: 18px;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
    overflow: hidden;
  margin-top: 10px;
}

.movie-info .action-btn{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.movie-info .action-btn a{
  font-size: 14px;
  color: #fff;
  background: #000;
  border-radius: 3px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: calc(100% - 50px);
}

.movie-info .action-btn button{
  font-size: 14px;
  color: #fff;
  background: #000;
  border-radius: 3px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  border: 0;
  outline: 0;
  cursor: pointer;
}


@media (max-width: 768px) {
  .movie-row{
    grid-template-columns: 1fr;
  }

  .container{
    padding: 30px;
  }

  .container form{
    width: 100%;
  }

  .movie-box img{
    width: 120px;
  }
}


